.change-pass-container{
  margin-top: 76px;
}
.change-pass-container form{
  max-width: 400px;
  margin: auto;
}
.heading{
  font-weight: 500;
}

.submit-btn{
  font-weight: 700;
  background-color: transparent;
  border: 2px solid #1bbd36;
  color: #1bbd36;
}

.submit-btn:hover,
.submit-btn:active,
.submit-btn:focus {
  background-color: #1bbd36;
  color: #fff;
}