#bred {}

@media only screen and (max-width: 270px) {
  #bred {
    margin-top: 120px;
  }
}

.breedingStatic {
  overflow: hidden;
  margin-top: 76px;
}

.img-container {
  position: relative;
}

.breeding-vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0.6) 100%);
}

.imageBreeding {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 20px 10px #0000004d;
}

.breeding-heading {
  position: absolute;
  bottom: 20px;
  left: 80px;
  font-size: 3.5rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 10px #00000080;
}

@media screen and (max-width: 800px) {
  .breeding-heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .breeding-heading {
    font-size: 1.5rem;
    left: 20px;
  }
}


.about-text {
  margin-top: 70px;
  margin-left: 50px;
  margin-bottom: 90px;
  font-size: 1.5rem;

}

.breedingStatic .content h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 60px;
  margin-bottom: 20px;

}

.breedingStatic .content h3 {
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;

}

#ulModify {
  list-style: none;
  padding: 0;
  text-align: left;
  overflow: hidden;
}

#ulModify li {
  padding: 10px 0 0 28px;
  position: relative;
}

#ulModify i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #1bbd36;

}


.breedingStatic .content p:last-child {
  margin-bottom: 0;
}

/* 
  #breedingTable {
    width: max-content;
  } */

#breedingTable_wrapper {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  #breedingTable {
    width: 100;
  }
}

.h-max-content {
  height: max-content;
}

.center-social a {
  text-decoration: none;
  color: inherit;
}

.center-social a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.text-break-all {
  word-break: break-all;
}

.login {
  color: #1bbd36;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.login:hover {
  text-decoration: none;
  color: #1bbd36;
}

.login::after {
  content: '';
  position: absolute;
  top: 116%;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #1bbd36;
  transition: all 0.3s ease-in-out;
}

.login:hover::after {
  opacity: 1;
  visibility: visible;
  width: 110%;
}